In [17]:
import numpy as np 
import pandas as pd
from IPython.display import display

print('========== read mpg miles per gallon data on cars =======================')
#mpg_df = pd.read_csv(r"mpg.csv")
pd.read_

data = {
    'Date': ['2021-01-01', '2021-01-01', '2021-01-01', 
             '2021-01-02', '2021-01-02', '2021-01-03'],
    'Product': ['Apples', 'Apples', 'Oranges', 'Apples', 'Oranges', 'Oranges'],
    'Sales': [100, 150, 120, 200, 220, 320]
}

df = pd.DataFrame(data)

display(df)
pivot = pd.pivot_table(
    df,                 # The original DataFrame
    columns='Product',  # Columns will be the unique values in 'Product'
    values='Sales',     # Values to aggregate (here, the 'Sales' column)
    index='Date',       # Rows will be grouped by 'Date'
    aggfunc='sum'       # Aggregation function (summing the sales values)
)
pivot

pivot = pd.pivot_table(
    df,                 # The original DataFrame
    columns='Product',  # Columns will be the unique values in 'Product'
    values='Sales',     # Values to aggregate (here, the 'Sales' column)
    index='Date',       # Rows will be grouped by 'Date'
    aggfunc='min'       # Aggregation function (summing the sales values)
)
pivot

pivot = pd.pivot_table(
    df,                 # The original DataFrame
    columns='Product',  # Columns will be the unique values in 'Product'
    values='Sales',     # Values to aggregate (here, the 'Sales' column)
    index='Date',       # Rows will be grouped by 'Date'
    aggfunc='min'       # Aggregation function (summing the sales values)
)
pivot

pivot = pd.pivot_table(
    df,                 # The original DataFrame
    columns='Product',  # Columns will be the unique values in 'Product'
    values='Sales',     # Values to aggregate (here, the 'Sales' column)
    index='Date',       # Rows will be grouped by 'Date'
    aggfunc=['min', 'max', 'mean', 'std'] # Aggregation function (summing the sales values)
)
pivot.fillna(0)

df.to_html('no_index.html', index=False)
df.to_html('with_index.html', index=True)
df.to_csv('csv1.csv')
df.to_excel('csv1.xlsx')
# ORM
# SQl-Alchemy
# class - dict
# # Employees
# save()
# delete()

========== read mpg miles per gallon data on cars =======================

         Date  Product  Sales
0  2021-01-01   Apples    100
1  2021-01-01   Apples    150
2  2021-01-01  Oranges    120
3  2021-01-02   Apples    200
4  2021-01-02  Oranges    220
5  2021-01-03  Oranges    320